{% extends 'base.html' %}

{% block title %}Seja bem vindo!{% endblock %}

{% block main %}

    <div class="row" id="centra">
        <div class="col">
            <h1>Seja bem vindo!</h1>
        </div>
    </div>
    <div class="row" id="centra">
        <div class="col">
            {% if user.is_authenticated %}
                <p>Olá {{ user.username }}</p>
            <div class="row" id="centra">
                <div class="col">
                    <a href="{% url 'person_list' %}" class="btn btn-warning">Lista</a>
                </div>
                <div class="col">
                    <a href="{% url 'logout' %}" class="btn btn-danger">Sair</a>
                </div>
            </div>
            {% else %}
            <br/><a href="{% url 'login' %}" class="btn btn-dark">Entrar</a>
            {% endif %}
        </div>
    </div>





{% endblock %}