{% extends 'base.html' %}

{% load bootstrap %}

{% block title %}
{% if teste %}Editando{% else %}Cadastrando{% endif %}
{% endblock %}

{% block main %}

    {% if teste %}
        <div class="col" id="borda">
            <h2 style="text-align: center;">Editando de Cliente</h2>
        </div>
    {% else %}
        <div class="col" id="borda">
            <h2 style="text-align: center;">Cadastro de Clientes</h2>
        </div>
    {% endif %}


    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form|bootstrap }}
        <br/><button type="submit" class="btn btn-primary">Save</button>
    </form>

    <br/><a href="{% url 'person_list' %}" class="btn btn-dark">Voltar</a>

{% endblock %}