{% extends 'base.html' %}

{% block title %}Administração{% endblock %}

{% block main %}

    <div class="row">
        <div class="col">
            <ul class="list-group">
                {% for person in persons %}

                    <li class="list-group-item">
                        <a href="{% url 'persons_update' person.id %}" style="text-decoration:none">{{ person.first_name }}</a>
                        <a href="{% url 'persons_delete' person.id %}" class="btn btn-danger" style="float: right;">X</a>
                    </li>

                {% endfor %}
            </ul>
        </div>
        <div class="col">
            {% if user.is_authenticated %}
            <p>Olá {{ user.username }}&nbsp;&nbsp;<a href="{% url 'logout' %}" class="btn btn-dark">Sair</a></p>

            {% endif %}
        </div>
    </div>






    <a href="{% url 'person_new' %}" class="btn btn-info">Criar</a>

{% endblock %}

{% block footer %}
    <footer class="footer">
        <div class="container">
            <span class="text-muted">Desenvolvido por Miradouro</span>
        </div>
    </footer>
{% endblock %}